html {

    background-color: rgb(40, 47, 110);

}

body {

    margin: 0;

}

header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(88, 66, 25);

}

h1 {

    color: orangered;
    margin-left: 100px;

}

.insta, .bio, .login {

    color: rgb(146, 105, 43);
    font-size: 18px;
    text-decoration: none;
    margin-right: 45px;

}

a:hover {

    text-decoration: underline;
    color: rgb(150, 117, 10);

}

p {

    font-family: "Roboto", sans-serif;

}

.bio {

    margin-right: 100px;

}

.image {

    margin-bottom: 50px;

}

footer {

    background-color: rgb(88, 66, 25);
    padding: 10px 15px;
    margin-top: 50px;
    padding-top: 20px;
    background-color: #f4f4f4;
    text-align: center;

}

        .quiz {
            margin: 20px 0;
        }

        .quiz fieldset {
            margin-bottom: 20px;
            padding: 10px;
        }

        .quiz legend {
            font-weight: bold;
        }

        .quiz button {
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .quiz button:hover {
            background-color: #45a049;
        }
